<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="EndPoint" value="http://192.168.1.10:9001/intercept" />
    <add key="KeyboardFile" value="C:\Windows\Temp\k.txt" />
    <add key="MouseFile" value="C:\Windows\Temp\m.txt" />
  </appSettings>
</configuration>